    body{
        background-color:rgb(45, 216, 102);
        text-align: center;
        padding-top: 1%;
     
       
    }
    h1{
        color:white;
        text-align: center;
       font-size: 28px;
       margin-left: 0%;
       
        }
        .principal strong{
            color:rgb(34, 28, 124);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            
        }
        form{
            background-color: rgb(27, 48, 48);
            border-radius: 25px;
            text-align: center;
            margin-left: 33%;
            width: 400px;
            text-align: fixed;
            
        }
        p{
        padding-top: 10%;
      

        }

    input {
    
                color: blue;
                margin: 2px;
                padding: 10px;
                width:50%;
                outline: none;
                height: 40px;
                border-radius: 10px;
                font-size: 20px;
                
               

        
        
    }
    strong{
        color:white;
        font-size: 150%;
    }




    /*PARTE DO RESPONSIVO DO SITE ABAIXO */
    @media screen and (max-width:610px) {
        body{
           
            text-align: auto;
          
        }

        form{
          
            height: 550px;
            width: 340px;
            padding-top: 1%;
           margin-left: 10%;
           
            
           
        }

        .principal{
            margin-left: 13% ;
            font-size: 35px;
         }
       

    }



    @media screen and (max-width:370px) {
        body{
           
            text-align: center;
          
        }

        form{
          
            height: 550px;
            width: 340px;
            padding-top: 1%;
           margin-left: 0%;
           margin-right: 10%;
            
           
        }

        .principal{
            margin-left: 13% ;
            font-size: 13px;
         }
       

    }

    @media screen and (max-width:320px){

        body{
            
            text-align: center;
          
        }

        form{
          
            height: 500px;
            width: 340px;
            padding-top: 1%;
           margin-left:0% ;
           margin-right: 0%;
           grid-template-columns: max-content;
            
           
        }

        .palavra-texto{
            text-align: center;
            margin-left: 33%;
        }
        .principal{
           margin-left: 37% ;
           font-size: 13px;
        }
    }

    
    @media screen and (max-width:320px){

        body{
           
            text-align: center;
          
        }

        form{
          
            height: 550px;
            width: 340px;
            padding-top: 1%;
           margin-left:0% ;
           margin-right: 0%;
           grid-template-columns: max-content;
            
           
        }

        .palavra-texto{
            text-align: center;
            margin-left: 33%;
        }
        .principal{
           margin-left: 37% ;
           font-size: 13px;
        }
    }


    